<h1> <%= @recommend.name %> に行こう！ </h1>
住所 : <%= @recommend.address %>
<br>
電話番号 : <%= @recommend.tel %>
<br>
営業時間 : <%= @recommend.open %> ~
<%= @recommend.close %>
(定休日 : <%= @recommend.regular_holiday %>)

